/* Primary and Surface Palettes */
:root {
  --p-primary-50: #fff6e0;
  --p-primary-100: #ffefd4;
  --p-primary-200: #ffddaf;
  --p-primary-300: #ffc883;
  --p-primary-400: #ffb463;
  --p-primary-500: #ffa041;
  --p-primary-600: #d68b00;
  --p-primary-700: #ac7700;
  --p-primary-800: #896500;
  --p-primary-900: #665000;
  --p-primary-950: #544600;
  --p-surface-0: #fff5e6;
  --p-surface-50: #f6f6f6;
  --p-surface-100: #dfdfdf;
  --p-surface-200: #bcb8b7;
  --p-surface-300: #ad8884;
  --p-surface-400: #896159;
  --p-surface-500: #653f33;
  --p-surface-600: #4e3531;
  --p-surface-700: #372927;
  --p-surface-800: #221f1f;
  --p-surface-900: #131313;
  --p-surface-950: #0b0b0b;
  --p-content-border-radius: 6px;
}

/* Light */
:root {
  --p-primary-color: var(--p-primary-500);
  --p-primary-contrast-color: var(--p-surface-0);
  --p-primary-hover-color: var(--p-primary-600);
  --p-primary-active-color: var(--p-primary-700);
  --p-content-border-color: var(--p-surface-200);
  --p-content-hover-background: var(--p-surface-100);
  --p-content-hover-color: var(--p-surface-800);
  --p-highlight-background: var(--p-primary-50);
  --p-highlight-color: var(--p-primary-700);
  --p-highlight-focus-background: var(--p-primary-100);
  --p-highlight-focus-color: var(--p-primary-800);
  --p-text-color: var(--p-surface-700);
  --p-text-hover-color: var(--p-surface-800);
  --p-text-muted-color: var(--p-surface-500);
  --p-text-hover-muted-color: var(--p-surface-600);
}

/*
 * Dark Mode
 * Defaults to system, change the dark variant selector to match the CSS variable configuration.
 * For example;
 * @custom-variant dark (&:where(.app-dark, .app-dark *));
 * should match to;
 * :root[class="app-dark"]
*/
@media (prefers-color-scheme: dark) {
  :root {
    --p-primary-color: var(--p-primary-400);
    --p-primary-contrast-color: var(--p-surface-900);
    --p-primary-hover-color: var(--p-primary-300);
    --p-primary-active-color: var(--p-primary-200);
    --p-content-border-color: var(--p-surface-700);
    --p-content-hover-background: var(--p-surface-800);
    --p-content-hover-color: var(--p-surface-0);
    --p-highlight-background: color-mix(in srgb, var(--p-primary-400), transparent 84%);
    --p-highlight-color: rgba(255, 255, 255, 0.87);
    --p-highlight-focus-background: color-mix(in srgb, var(--p-primary-400), transparent 76%);
    --p-highlight-focus-color: rgba(255, 255, 255, 0.87);
    --p-text-color: var(--p-surface-0);
    --p-text-hover-color: var(--p-surface-0);
    --p-text-muted-color: var(--p-surface-400);
    --p-text-hover-muted-color: var(--p-surface-300);
  }
}
