/* Primary and Surface Palettes */
:root {
  --p-primary-50: oklch(98% 0.016 73.684);
  --p-primary-100: oklch(95.4% 0.038 75.164);
  --p-primary-200: oklch(90.1% 0.076 70.697);
  --p-primary-300: oklch(83.7% 0.128 66.29);
  --p-primary-400: oklch(75% 0.183 55.934);
  --p-primary-500: oklch(70.5% 0.213 47.604);
  --p-primary-600: oklch(64.6% 0.222 41.116);
  --p-primary-700: oklch(55.3% 0.195 38.402);
  --p-primary-800: oklch(47% 0.157 37.304);
  --p-primary-900: oklch(40.8% 0.123 38.172);
  --p-primary-950: oklch(26.6% 0.079 36.259);
  --p-surface-0: #ffe7c4;
  --p-surface-50: #ffd597;
  --p-surface-100: #ffc773;
  --p-surface-200: #f4b24f;
  --p-surface-300: #e49d34;
  --p-surface-400: #cf5c2a;
  --p-surface-500: #ad2513;
  --p-surface-600: #ad1313;
  --p-surface-700: #890f0f;
  --p-surface-800: #570000;
  --p-surface-900: #420707;
  --p-surface-950: #190101;
  --p-content-border-radius: 6px;
}

/* Light */
:root {
  --p-primary-color: var(--p-primary-500);
  --p-primary-contrast-color: var(--p-surface-0);
  --p-primary-hover-color: var(--p-primary-600);
  --p-primary-active-color: var(--p-primary-700);
  --p-content-border-color: var(--p-surface-200);
  --p-content-hover-background: var(--p-surface-100);
  --p-content-hover-color: var(--p-surface-800);
  --p-highlight-background: var(--p-primary-50);
  --p-highlight-color: var(--p-primary-700);
  --p-highlight-focus-background: var(--p-primary-100);
  --p-highlight-focus-color: var(--p-primary-800);
  --p-text-color: var(--p-surface-700);
  --p-text-hover-color: var(--p-surface-800);
  --p-text-muted-color: var(--p-surface-500);
  --p-text-hover-muted-color: var(--p-surface-600);
}

/*
 * Dark Mode
 * Defaults to system, change the dark variant selector to match the CSS variable configuration.
 * For example;
 * @custom-variant dark (&:where(.app-dark, .app-dark *));
 * should match to;
 * :root[class="app-dark"]
*/
@media (prefers-color-scheme: dark) {
  :root {
    --p-primary-color: var(--p-primary-400);
    --p-primary-contrast-color: var(--p-surface-900);
    --p-primary-hover-color: var(--p-primary-300);
    --p-primary-active-color: var(--p-primary-200);
    --p-content-border-color: var(--p-surface-700);
    --p-content-hover-background: var(--p-surface-800);
    --p-content-hover-color: var(--p-surface-0);
    --p-highlight-background: color-mix(in srgb, var(--p-primary-400), transparent 84%);
    --p-highlight-color: rgba(255, 255, 255, 0.87);
    --p-highlight-focus-background: color-mix(in srgb, var(--p-primary-400), transparent 76%);
    --p-highlight-focus-color: rgba(255, 255, 255, 0.87);
    --p-text-color: var(--p-surface-0);
    --p-text-hover-color: var(--p-surface-0);
    --p-text-muted-color: var(--p-surface-400);
    --p-text-hover-muted-color: var(--p-surface-300);
  }
}
