@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import 'primeicons/primeicons.css';

h1 {
  @apply text-2xl;
}

ol {
  @apply list-inside list-decimal;
}

ul {
  @apply list-inside list-disc;
}
